block vars
doctype
html
  head
    meta(charset="utf-8")
    title=title
    meta(property="og:image", content="http://idangero.us/framework7/i/f7-banner.jpg")
    link(rel="stylesheet", href="../css/normalize.css")
    link(rel="stylesheet", href="../css/main.css")
    link(rel="stylesheet", href="../css/highlight.css")
    link(rel="shortcut icon" href="../favicon.png")
    script(src="../js/vendor/modernizr-2.7.1.min.js")
    include _ga
  body
    header.inner-header
      .center
        a(href="../").logo
        .langs
          span 语言: 
          a(href="http://www.idangero.us/framework7/") 英文
          a(href="http://framework7.taobao.org") 中文
        .title-links
          .title Framework7
          .links-row
            .links-label 项目:
            .links
              a(href="https://github.com/nolimits4web/Framework7", target="_blank") 下载
              
              - if (activeLink == 'contribute')
                a(href="../contribute/").active 贡献
              - else
                a(href="../contribute/") 贡献

              - if (activeLink == 'donate')
                a(href="../donate/").active 捐助
              - else
                a(href="../donate/") 捐助

              a(href="https://github.com/nolimits4web/Framework7/blob/master/CHANGELOG.md", target="_blank") 更新日志
          .links-row
            .links-label 学习:
            .links 
              - if (activeLink == 'get-started')
                a(href="../get-started/").active 开始使用
              - else
                a(href="../get-started/") 开始使用

              - if (activeLink == 'docs')
                a(href="../docs/").active 文档
              - else
                a(href="../docs/") 文档

              - if (activeLink == 'tutorials')
                a(href="../tutorials/").active 教程
              - else
                a(href="../tutorials/") 教程

          .links-row
            .links-label 应用:
            .links
              - if (activeLink == 'examples')
                a(href="../examples/").active 案例
              - else
                a(href="../examples/") 案例

              - if (activeLink == 'apps')
                a(href="../apps/").active 示例
              - else
                a(href="../apps/") 示例

              - if (activeLink == 'showcase')
                a(href="../showcase/").active 应用
              - else
                a(href="../showcase/") 应用
            
    .share-line
      .center
        .share
          include _share
        .github-buttons
          .flattr-button 
            a(target="_blank", href="https://flattr.com/submit/auto?\
              user_id=nolimits4web&url=http://www.idangero.us/framework7/&title=Framework7&\
              description=Full Featured HTML Framework For Building iOS Apps&language=en_GB&\
              tags=api,programming,mobile,framework&category=software")
              img(src="https://api.flattr.com/button/flattr-badge-large.png")
          include _github-buttons
        .clearfix
    .content.center
      block content
    .share-line
      .center 
        .share
          include _share
        .github-buttons
          .flattr-button 
            a(target="_blank", href="https://flattr.com/submit/auto?\
              user_id=nolimits4web&url=http://www.idangero.us/framework7/&title=Framework7&\
              description=Full Featured HTML Framework For Building iOS Apps&language=en_GB&\
              tags=api,programming,mobile,framework&category=software")
              img(src="https://api.flattr.com/button/flattr-badge-large.png")
          include _github-buttons
        .clearfix
    footer
      .center
        .links
          a(href="./") Framework7
          a(href="../plugins/") 插件
          a(href="./contribute/") 贡献
          a(href="./get-started/") 开始使用
          a(href="./docs/") 文档
          a(href="./tutorials/") 教程
          a(href="./forum/") 论坛
          a(href="./examples/") 案例
          a(href="./apps/") 示例
          a(href="./showcase/") 应用
        .copy 2015 © Framework7 by iDangero.us
        .copy 翻译 by SDC-ALIBABA <a href='mailto:hongxun.lhx@alibaba-inc.com'>联系我们</a>

    script(src="../js/vendor/jquery-1.11.0.min.js")
    script(src="../js/plugins.js")
    script(src="../js/main.js")
    script.
      var addthis_config = {"data_track_addressbar":true};
    script(src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52c9b0605d63191c")
    block scripts
